{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<h1>bienvenu sur le gestionnaire d'employés de la SA</h1>
<div class="jumbotron">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptatem eveniet ad facilis unde quasi?</p>
<p>Repudiandae ab enim soluta pariatur? Non provident a accusantium eveniet repellat. Amet illo ex placeat.</p>
</div>
{% endblock %}
