<div class="container pt-10">
    <app-navbar></app-navbar>
</div>

<!--CORPS DU DASHBOARD-->

<div class="container pt-5">
        <div class="main-wrapper">
                <i class="material-icons">dashboard</i>
                <i class="material-icons">list</i>
                <i class="material-icons">work</i>
                <i class="material-icons">send</i>
                <i class="material-icons">domain</i>
                <i class="material-icons">public</i>
                <i class="material-icons">group</i>
                <i class="material-icons">group_add</i>
        </div>
</div>