
.rouge{
    background-color: red;
}
/* @extend display-flex; */
display-flex, .header, .form-group {
    display: flex;
    display: -webkit-flex; }
  
  
  
  /* poppins-300 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-v5-latin-300.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
    /* Legacy iOS */ }
  
  
  .clear {
    clear: both; }

  .contrecherche {
    width: 100%;
    background: #3F454A;
    margin: 5px auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px; }
  
  .recherche-form {
    padding: 10px 70px 10px 70px; }
  
  input {
    border: none;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    display: block;
    font-family: Poppins;
    position: relative;
    z-index: 9; }
    input::-webkit-input-placeholder {
      color: #999; }
    input::-moz-placeholder {
      color: #999; }
    input:-ms-input-placeholder {
      color: #999; }
    input:-moz-placeholder {
      color: #999; }
  
  .submit {
    background: #D9534F;
    color: #fff;
    font-size: 14px;
    margin-top: 23px;
    padding: 15px 20px;
    cursor: pointer; }
    .submit:hover {
      background-color: #ce9906; }
  
  label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
    display: block; }
  
  #quantite {
    color: #999; }
  
  .produit {
    width: 230px;
   margin-right: 50px;
  }
  
  .min, .max {
    width: 155px;
    margin-right: 50px; }
  
  .form-quantite {
    width: 80px;
    position: relative; 
    margin-right: 50px;}
  
  .form-submit {
    width: 140px; 
    margin-right: 50px;}

    .jumbotron{
      background-color: rgba(0, 0, 0, 0.795);
      margin: 0;
      height: 3rem;
  }
  .jumbotron div{
    display: inline-block;
    
}
.jumbotron .cprt{
  float:right;
  
}
  .jumbotron h3{
    color:white;
    font-size: 0.7rem;
    
    
}